.index{
    position: fixed;
    margin-top: 56px;
    margin-left: 200px;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    border: 1px solid #fff;
    color: #fff;
}

.semSites{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 40%;
    padding: 20px;
    text-align: center;
    border: 1px solid #fff;
}

.semSites button{
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    width: 100%;
    height: auto;
    background-color: #334e84;
    color:  #fff;
}

.divNewSite{
    background-color: #2d3135;
    border: #fff solid 1px;
    border-radius: 5px;
    width: 550px;
    height: auto;
    margin-left: 20%;
    margin-top: 10px;
    position:  absolute;
    font-size: 15px;
    z-index: 1;
}

.divNewSite input{
    margin: 10px;
    border-radius: 5px;
    border-style: none;
}

#inputSite{
    width: 25vw;
}

.btnAdd{
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    margin-left: 50px;
    margin-top: 16px;
}

.divSite{
    margin-top: 5%;
    margin-left: 5%;
}
.divSite{
    width: 20%;
    height: 30%;
    border: #fff solid 1px;
    border-radius: 5px;
}

.divSiteInfo{
    margin-left: 50px;
    text-align: center;
    padding-bottom: 5px;
}
.divSiteInfo label{
    padding: 5px;
}

.divSiteInfo h4{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.divSite img{
    position: absolute;
    margin-top: -66px;
    margin-left: 3px;
    border-radius: 5px;
}

.bntRelSites    {
    border-style: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    position: fixed;
    margin-left: 10px;
    margin-top: 16px;
}

